name: Compile and run tests

permissions: read-all

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  run-tests:
    name: Tests on ${{ matrix.os }} with node ${{ matrix.node }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
          - macos-latest
        node:
          - 22
          - 23
          - 24
    steps:
      - name: Check out repository
        uses: actions/checkout@v5
        with:
          fetch-depth: 2

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          cache: npm
          node-version-file: '.nvmrc' # build only works on this version.

      - name: Install dependencies
        shell: bash
        run: npm ci

      - name: Build
        run: npm run build

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          cache: npm
          node-version: ${{ matrix.node }}

      - name: Disable AppArmor
        if: ${{ matrix.os == 'ubuntu-latest' }}
        shell: bash
        run: echo 0 | sudo tee /proc/sys/kernel/apparmor_restrict_unprivileged_userns

      - name: Run tests
        shell: bash
        run: npm run test

  # Gating job for branch protection.
  test-success:
    name: '[Required] Tests passed'
    runs-on: ubuntu-latest
    needs: run-tests
    if: ${{ !cancelled() }}
    steps:
      - if: ${{ needs.run-tests.result != 'success' }}
        run: 'exit 1'
      - run: 'exit 0'
